/* global.css */


/* Google Web Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);

#site-title a { 
  color: #000;
}

#access { 
  background: #464646;
}

body, input, textarea {
  font: 15px "Open Sans", sans-serif;
}
