/* home.css */

.mid-slideshow { 
    height: 200px;
    width: 725px;
}

.mid-slideshow img {
}

body.home #main ul.slideshow{
	height: 200px;
	margin: 0px;
	padding: 0px;
}

body.home .slideshow h4 {
	font-size: 11px;
	font-weight: bold;
}

body.home .slideshow img{
	height: 200px;
	width: 725px;
}

body.home .slideshow p {
	display: none;
}

body.home .slideshow li{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
