/* home.css */

.mid-slideshow { 
  height: 305px; 
  width: 580px;
 }

.mid-slideshow img {
  padding: 2px; 
  border: 1px solid #ccc; 
  background-color: #eee; 
}

body.home #main ul.slideshow{
	height: 225px;
	margin: 0px;
	padding: 0px;
}

body.home .slideshow h4 {
	font-size: 11px;
	font-weight: bold;
}

body.home .slideshow img{
	height: 190px;
	width: 190px;
}

body.home .slideshow p {
	display: none;
}

body.home .slideshow li{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
