/* layout.css */

body {
    background-color: #444;
    background-image: url('../images/mainbg.jpg');
    background-position: top center;
    margin: 0;
    background-repeat: repeat-y;
    padding: 0;
}

div#page {
    border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 35px auto;
    padding: 20px;
}

/* Header */
header#branding {
    border: none;
    margin: 0;
    padding: 0;
    position: relative;
}

    header#branding a#hewlett-logo {
        background-image: url('../images/hewlett.png');
        display: block;
        height: 50px;
        left: 438px;
        position: absolute;
        top: 8px;
        width: 128px;
    }

    header#branding a#berkman-logo {
        background-image: url('../images/berkman.png');
        display: block;
        height: 50px;
        left: 587px;
        position: absolute;
        top: 8px;
        width: 243px;
    }

    header#branding hgroup {
        margin: 0;
        padding: 0;
    }

        header#branding hgroup #site-title {
            margin: 0;
            padding: 0;
        }

            header#branding hgroup #site-title a {
                font-size: 26px;
            }

        header#branding hgroup #site-description {
            margin: 0;
            padding: 5px 0 20px 0;
        }

    /* Navigation */
    header#branding nav#access {
        border-radius: 3px;
        -moz-border-radius: 3px;
        margin: 0;
        padding: 0;
    }

        header#branding nav#access div.menu {
            margin: 0;
            padding: 0;
        }

            header#branding nav#access div.menu ul {
                margin: 0;
                padding: 0;
            }

                header#branding nav#access div.menu ul li {
                    
                }

                    header#branding nav#access div.menu ul li a {
                        font-size: 15px;
                        border-right: 1px solid #555;
                        line-height: 2.8em;
                    }

                header#branding nav#access div.menu ul li.current_page_item {
                    background-color: #555;
                }

                    header#branding nav#access div.menu ul li.current_page_item a { font-weight: normal; }

    /* Search box */
    header#branding form#searchform {
        top: 28px;
        right: 0;
    }
    
    #s { width: 100px !important; }



/* Main */
div#main {
    margin: 0;
    padding: 15px 0;

}

    div#main div#primary {
        width: 1000px;
    }

        div#main div#primary div#content {
            margin: 0;
            padding: 0;
            width: 725px;
        }

            /* Post/page contents */
            div#main div#primary div#content article {
                margin: 0;
                padding: 0;
            }

                div#main div#primary div#content article header {
                    margin: 0;
                    padding: 0
                    width: 100%;
                }

                div#main div#primary div#content article div.entry-content {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                }

                div#main div#primary div#content article footer.entry-meta {
                    margin: 0;
                    padding: 0;
                }

                    div#main div#primary div#content article footer.entry-meta span.edit-link {}

                        div#main div#primary div#content article footer.entry-meta span.edit-link a {
                            left: -50px;
                            top: 0;
                        }

    /* Sidebar */
    div#main div#secondary {
        border: 1px dashed #ccc;
        margin: 0;
        padding: 0;
        width: 250px;
    }

        div#main div#secondary aside {}
        
            div#main div#secondary aside h3 {}
            
            div#main div#secondary aside ul {
                list-style: none;
            }


/* Footer */
footer#colophon {
    padding-top: 15px;
}

    footer#colophon div#site-generator {
        background: none;
        border: none;
        border: 1px dashed #ccc;
    }


#mid-section {
  width: 100%;
}

#about-widget {
  float: left;
  margin-left: 7.6%;
}
