/* layout.css */

body {
    background-color: #444;
    background-image: url('../images/mainbg.png');
    margin: 0;
    background-repeat: repeat;
    padding: 0;
}

div#page {
    border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 35px auto;
    padding: 20px;
}

/* Header */
header#branding {
    border: none;
    margin: 0;
    padding: 0;
    position: relative;
}

    header#branding a#hewlett-logo {
        background-image: url('../images/hewlett.png');
        display: block;
        height: 50px;
        left: 438px;
        position: absolute;
        top: 8px;
        width: 128px;
    }

    header#branding a#berkman-logo {
        background-image: url('../images/berkman.png');
        display: block;
        height: 50px;
        left: 587px;
        position: absolute;
        top: 8px;
        width: 243px;
    }

    header#branding hgroup {
        margin: 0;
        padding: 0;
    }

        header#branding hgroup #site-title {
            margin: 0;
            padding: 0;
        }

            header#branding hgroup #site-title a {
                font-size: 26px;
            }

        header#branding hgroup #site-description {
            margin: 0;
            padding: 5px 0 20px 0;
        }

    /* Navigation */
    #access div {
	margin: 0 1.6%;
    }
    header#branding nav#access {
        border-radius: 3px;
        -moz-border-radius: 3px;
        margin: 0;
        padding: 0;
        position: relative;
    }

        header#branding nav#access div#social-media {
            height: 14px !important;
            padding: 0;
            position: absolute;
            right: 0px;
            top: 15px;
        }

            header#branding nav#access div#social-media a#rss-feed {
                background: url('../images/rss.gif');
                display: block;
                height: 14px;
                padding: 0;
                width: 14px;
            }

        header#branding nav#access div.menu {
            margin: 0;
            padding: 0;
        }

            header#branding nav#access div.menu ul {
                margin: 0;
                padding: 0;
            }

                header#branding nav#access div.menu ul li {
                    
                }

                    header#branding nav#access div.menu ul li a {
                        font-size: 15px;
                        border-right: 1px solid #555;
                        line-height: 2.8em;
                    }

                header#branding nav#access div.menu ul li.current_page_item { }

                    header#branding nav#access div.menu ul li.current_page_item a {
                        background-color: #555;
                        font-weight: normal;
                        border-radius: 3px;
                        moz-border-radius: 3px;
                    }

    /* Search box */
    header#branding form#searchform {
        top: 28px;
        right: 0;
    }
    
    #s { width: 100px !important; }



/* Main */
div#main {
    margin: 0;
    padding: 15px 0;

}

    div#main div#primary {
        width: 725px;
    }

        div#main div#primary div#content {
            margin: 0;
            padding: 0;
            width: 725px;
        }

            div#main div#primary div#content nav#nav-single { padding: 0; width: 350px; }

            /* Post/page contents */
            div#main div#primary div#content article {
                margin: 0;
                padding: 0 0 20px 0;
            }

                div#main div#primary div#content article header {
                    margin: 0;
                    padding: 0
                    width: 100%;
                }

                div#main div#primary div#content article div.entry-content {
                    margin: 25px 0 20px 0;
                    padding: 0;
                    width: 100%;
                }

                div#main div#primary div#content article div.entry-content h3 {
                    color: #555;
                    font-size: 22px;
                    font-style: italic;
                    font-weight: bold;
                    letter-spacing: normal;
                    line-height: 100%;
                }

                div#main div#primary div#content article footer.entry-meta {
                    margin: 0;
                    padding: 0;
                }

                    div#main div#primary div#content article footer.entry-meta span.edit-link {}

                        div#main div#primary div#content article footer.entry-meta span.edit-link a {
                            left: -50px;
                            top: 0;
                        }

    /* Sidebar */
    div#main div#secondary {
        margin: 0;
        padding: 0;
        width: 250px;
    }

        div#main div#secondary aside {
            font-size: 15px;
            margin-bottom: 50px;
        }
        
            div#main div#secondary aside h3 {
                color: #333;
                letter-spacing: 0;
                line-height: 14px;
                font-size: 18px;
                font-weight: bold;
                margin: 5px 0 20px 0;
                padding: 0;
                text-transform: none;
            }
            
            div#main div#secondary aside ul {
                list-style: none;
            }


/* Footer */
footer#colophon {
    padding-top: 20px;
}

    footer#colophon p {
        border-top: 1px solid #ccc;
        padding-top: 20px;
        margin-bottom: 0;
        text-align: center;
    }

#mid-section {
  width: 100%;
}

#about-widget {
  float: left;
  margin-left: 7.6%;
}

/* Archives */
div.masonry-container {
    margin: 25px 0 50px 0;
    overflow: hidden;
    width: 725px;
}

    div.masonry-container div.masonry-item {
        border: 1px solid #ccc;
        float: left;
        font-size: 13px;
        padding: 10px;
        margin: 0 10px 15px 0;
        width: 205px;
    }

    div.masonry-container div.masonry-item-big {
        width: 446px;
    }

        div.masonry-container div.masonry-item a { font-weight: bold; }

        div.masonry-container div.masonry-item img {
            max-width: 100%;
        }

        div.masonry-container div.masonry-item h3 {
            color: #333 !important;
            letter-spacing: none !important;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px !important;
            font-style: normal !important;
            font-weight: bold;
            line-height: 100%;
            margin: 15px 0;
            padding: 0;
            text-transform: none;
        }

        div.masonry-container div.masonry-item p { 
            margin: 15px 0 0 0;
            padding: 0;
        }
